.App {
  height: 100%;

  display: flex;
}

.menuWrapper {
  display: flex;
  flex-direction: column;

  padding: 20px;
  width: fit-content;
  background-color: #6eb5ff;
  box-shadow: 4px 4px 8px rgb(220, 219, 219);
}

.mainContent {
  padding: 20px;
}
